<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_pages.css') }}">

</head>
<body>
    <header>
        <h1>Edit Course</h1>
    </header>
    <main>
        <form method="POST">
            <label for="title">Course Title:</label>
            <input type="text" id="title" name="title" value="{{ course.title }}" required>

            <label for="description">Course Description:</label>
            <textarea id="description" name="description" required>{{ course.description }}</textarea>

            <button type="submit">Update Course</button>
        </form>
    </main>
</body>
</html>
